BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always

BreakBeforeBraces: Attach
AllowShortLoopsOnASingleLine: true